* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.delete {
  cursor: pointer;
}
.not_completed,
.completed {
  cursor: pointer;
}
.settings {
  display: flex;
  justify-content: flex-end;
}
#delete_all-completed-tasks {
  margin-right: 0.5rem;
}
