* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e6e2e2;
}
.hidden {
  display: none;
}
.delete {
  cursor: pointer;
}
.not_completed,
.completed {
  cursor: pointer;
}
.settings {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2rem;
}
#delete_all-completed-tasks {
  margin-right: 0.5rem;
}
.collection-item {
  border-bottom: 1px solid #27ab9f !important;
  padding: 0.8rem !important;
}
#todo-list {
  border-bottom: none !important;
}
#user-email {
  margin-left: 1rem !important;
}
#logout {
  padding: 0px 5px !important;
}
.editContainer > span {
  font-size: 1.2rem;
}
#footer_copyright {
  text-align: center;
  font-size: 0.6rem;
}
.collection {
  font-size: 1.5rem;
}
.user {
  margin-left: 0.5rem;
}
input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: red;
}
